<!DOCTYPE html>
<html>
<head>
<title>电子应用技术协会|首页</title>
<link href="__css__/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="__css__/xhstyle.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="__js__/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__js__/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="__css__/font-awesome.min.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
</head>
<body>
	<!-- header-section-starts -->
	<div class="container">	
		<div class="news-paper">
			<div class="header">
				<div class="header-left">
					<div class="logo">
						<a href="{:U('Index/index')}">
							<h6>the</h6>
							<h1>E.T.A <span>Society</span></h1>
						</a>
					</div>
				</div>
					<div class="social-icons">
						<li><a href="#"><i class="qq" id="zone"></i></a></li>
						<li><a href="#"><i class="weibo" id="blog"></i></a></li>
						<li><a href="{:U('Index/rss')}"><i class="rss"></i></a></li>
						<li><div class="weibo">
							
							<div id="fb-root"></div>
							</div></li>
							<script>//分享到QQ空间
							$("#zone").click(function(){
								var p = {
									url:location.href,
									showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
									desc:'我在电子应用技术协会官网看到一篇好文章，快来看看吧！',/*默认分享理由(可选)*/
									summary:'',/*分享摘要(可选)*/
									title:'<%$info.title%>',/*分享标题(可选)*/
									site:'电子应用协会',/*分享来源 如：腾讯网(可选)*/
									pics:'__IMG__<%$info.img.0.url%>', /*分享图片的路径(可选)*/
									style:'203',
									width:98,
									height:22
								};
								var s = [];
								for(var i in p){
									s.push(i + '=' + encodeURIComponent(p[i]||''));
								}
								window.open("http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?"+s.join('&'));
							});

							//分享到新浪微博
							$('#blog').click(function(){
								window.sharetitle = '<%$info.title%>';//标题
								window.shareUrl = '__IMG__<%$info.img.0.url%>';//缩略图
								share();
							});
							function share(){
								//d指的是window
								(function(s,d,e){try{}catch(e){}var f='http://v.t.sina.com.cn/share/share.php?',u=d.location.href,
										p=['url=',e(u),'&title=',e(window.sharetitle),'&appkey=2924220432','&pic=',e(window.shareUrl)].join('');
									function a(){
										if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};
									if(
											/Firefox/.test(navigator.userAgent)){setTimeout(a,0)
									}else{
										a()
									}
								})(screen,document,encodeURIComponent);
							}
							</script>

	   						<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
							

					</div>
					<div class="clearfix"></div>
				<div class="header-right">
					<div class="top-menu">
						<ul>        
							<li><a>Welcome</a></li> |  
							<li><a href="{:U('Index/about')}">关于我们</a></li> |
							<li><a href="{:U('Index/contact')}">联系我们</a></li>  |
							<li><a id="modal_trigger" href="#modal" class="btn1">管理登陆</a>

	<div id="modal" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">管理登陆</span>
			<span class="modal_close"><i class="fa fa-times">关闭</i></span>
		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
           <!-- <div class="social_login">
				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">登陆</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">注册</a> <a style="float:right">暂不开放</a></div>
				</div>
			</div>-->

			<!-- Username & Password Login form -->
			<div class="user_login" name="user_login">
				<form action="{:U('Admin/Index/doLogin')}"method="post" id="login_form">
					<label>用户名</label>
					<input type="text" name="userName" id="userName"/>
					<br />

					<label>密码</label>
					<input type="password" name="psw" id="psw"/>
					<br />

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i>重置</a></div>
						<div class="one_half last"><a href="javascript:document:login_form.submit();" class="btn btn_red">登陆</a></div>
					</div>
				</form>
			</div>

			<!-- Register Form -->
			
		</section>
	</div>

<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#modal_trigger").click(function(){
			$(".user_login").show();
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			/*$(".user_login").hide();
			$(".user_register").hide();
			$(".header_title").text('管理登陆');*/
			document.getElementById("userName").value="";
			document.getElementById("psw").value="";
			//return false;
		});
	})
</script></li> |   
							<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog1">订阅</a></li>
						</ul>
					</div>
					<!---pop-up-box---->  
					<link href="__css__/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="__js__/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
					<div id="small-dialog1" class="mfp-hide">
						<div class="signup" id="captcha-container">
							<form action="__URL__/mail" method="post">
							<h3>订阅</h3>
							<h4>输入您的有效电子邮件</h4>
							<input type="text" name="mail" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required/>
							<h4>输入下面的数字完成验证</h4>
							<input type="text" name="ver"><br/>
								<img class="left15" alt="验证码" src="{:U('Home/Index/verify_c',array())}" title="点击刷新">
								<div class="clearfix"></div>
							<input type="submit"  value="立即订阅"/>
							</form>
						</div>
					</div>	

                     <script>
						 // 验证码生成
						 var captcha_img = $('#captcha-container').find('img')
						 var verifyimg = captcha_img.attr("src");
						 captcha_img.attr('title', '点击刷新');
						 captcha_img.click(function(){
							 if( verifyimg.indexOf('?')>0){
								 $(this).attr("src", verifyimg+'&random='+Math.random());
							 }else{
								 $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
							 }
						 });


						 $(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>	
					<div class="search">
						<form action="__URL__/search" method="post">
							<input type="text" value="" placeholder="关键字" name="keyword" id="keyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
							<input type="submit">
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				</div>
			<span class="menu"></span>
			<div class="menu-strip">
				<ul>
					<li><a href="{:U('Index/index')}">首页</a></li>
					<li><a href="{:U('Inform/index')}">通知</a></li>
					<li><a href="{:U('Movie/index')}">电影周</a></li>
					<li><a href="{:U('Rent/index')}">租赁_服务</a></li>
					<li><a href="{:U('Star/index')}">协会之星</a></li>
					<li><a href="{:U('Activity/index')}">协会活动</a></li>
					<li><a href="{:U('Blog/index')}">技术杂文</a></li>
					<li><a href="{:U('Member/index')}">招新报名</a></li>
				</ul>
			</div>
			<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".menu-strip" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
			<div class="clearfix"></div>
			<div class="main-content">		
				<div class="col-md-9 total-news">
					<div class="slider">
						<script src="__js__/responsiveslides.min.js"></script>
						 <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  $("#conference-slider").responsiveSlides({
								auto: true,
								manualControls: '#slider3-pager',
							  });
							});
						</script>
						 <div class="conference-slider">
							<!-- Slideshow 3 -->
							<ul class="conference-rslide" id="conference-slider">
								<volist name="photo" id="ph">
							  <img src="__ROOT__/{$ph.path_photo1}" alt="" height="331px" width="636px">
							  <img src="__ROOT__/{$ph.path_photo2}" alt="" height="331px" width="636px">
							  <img src="__ROOT__/{$ph.path_photo3}" alt="" height="331px" width="636px">
							  <img src="__ROOT__/{$ph.path_photo4}" alt="" height="331px" width="636px">
								</volist>
							</ul>
							<!-- Slideshow 3 Pager -->
							<ul id="slider3-pager">
								<volist name="photo" id="ph">
							  <a href="#"><img src="__ROOT__/{$ph.path_photo1}" alt="" height="65px" width="50px"></a>
							  <a href="#"><img src="__ROOT__/{$ph.path_photo2}" alt="" height="65px" width="50px"></a>
							  <a href="#"><img src="__ROOT__/{$ph.path_photo3}" alt="" height="65px" width="50px"></a>
							  <a href="#"><img src="__ROOT__/{$ph.path_photo4}" alt="" height="65px" width="50px"></a>
								</volist>
							</ul>
							<div class="breaking-news-title">
								<p>A single flower does not make a spring </p>
							</div>
						</div> 
						<h5 class="breaking">宣传照片</h5>
					</div>	
				<div class="posts">
					<div class="left-posts">
						<div class="world-news">
							
						</div>
						<div class="latest-articles">
							<div class="main-title-head">
								<h3>最新文章</h3>
								<a href="__URL__/search/where/cId!=1">More  +</a>
								<div class="clearfix"></div>
							</div>
							<div class="world-news-grids">
								<volist name="new_a" id="new">
								<div class="world-news-grid" style="height:240px;">
									<img src="__ROOT__/{$new.photo}" alt="" height="105px" width="50px"/>
									<a href="__URL__/singlePage/id/{$new.id}" class="title">{$new.title|msubstr=0,15}</a>
									<p>{$new.content|msubstr=0,50}</p>
										<a href="__URL__/singlePage/id/{$new.id}">Read More</a>
								</div>
								</volist>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="gallery">
							<div class="main-title-head">
								<h3>活动照片墙</h3>
								<a href="__URL__/search/where/cId=4">More  +</a>
								<div class="clearfix"></div>
							</div>
							<div class="gallery-images">
								<div class="course_demo1">
								  <ul id="flexiselDemo1">
									  <volist name="activity" id="ac">
									 <li>
										<a href="__URL__/singlePage/id/{$ac.id}"><img src="__ROOT__/{$ac.photo}" alt="" /></a>
									 </li>
									  </volist>
								 </ul>
							 </div>
							 <link rel="stylesheet" href="__css__/flexslider.css" type="text/css" media="screen" />
								<script type="text/javascript">
							 $(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 3,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							 });
							  </script>
							 <script type="text/javascript" src="__js__/jquery.flexisel.js"></script>
						 </div>
						 <div class="course_demo1">
								  <ul id="flexiselDemo">
									  <volist name="act" id="ac">
										  <li>
											  <a href="__URL__/singlePage/id/{$ac.id}"><img src="__ROOT__/{$ac.photo}" alt="" /></a>
										  </li>
									  </volist>
								 </ul>
							 </div>
							 <link rel="stylesheet" href="__css__/flexslider.css" type="text/css" media="screen" />
								<script type="text/javascript">
							 $(window).load(function() {
								$("#flexiselDemo").flexisel({
									visibleItems: 3,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							 });
							  </script>
							 <script type="text/javascript" src="__js__/jquery.flexisel.js"></script>

							</div>
						<div class="tech-news">
							<div class="main-title-head">
								<h3>技术杂文</h3>
								<a href="__URL__/search/where/cId=5">More  +</a>
								<div class="clearfix"></div>
							</div>
							<div class="tech-news-grids">
									<volist name="blog" id="bl">
									<div class="tech-news-grid span_66">
										<a href="__URL__/singlePage/id/{$bl.id}">{$bl.title|msubstr=0,50}</a>
										<p>{$bl.content|msubstr=0,200}</p>
										<p>by<a href="#">{$bl.author} </a>  | {$bl.zan}次赞</p>
									</div>
									</volist>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="right-posts">
						<div class="desk-grid">
							<h3>电影预告</h3>
							<volist name="movie" id="mo">
							<div class="desk">
								<a href="__URL__/singlePage/id/{$mo.id}" class="title">{$mo.title|msubstr=0,20}</a>
								<p>{$mo.content|msubstr=0,100}</p>
								<p><a href="__URL__/singlePage/id/{$mo.id}">Read More</a><span>{$mo.dateline|substr=0,10}</span></p>
							</div>
							</volist>
							<a class="more" href="__URL__/search/where/cId=2">More  +</a>
						</div>
					</div>
					<div class="clearfix"></div>	
				</div>
				</div>	
				<div class="col-md-3 side-bar">
					<h4 style="font-size: 25px;"><strong>协&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;知</strong></h4>
					<div class="might">
						<volist name="inform" id="inform">
						<div class="might-grid">
							<div class="grid-might">
								<a href="__URL__/singlePage/id/{$inform.id}"><img src="__images__/mi.jpg" class="img-responsive" alt=""> </a>
							</div>
							<div class="might-top">
								<p>{$inform.title|msubstr=0,30}</p>
								<a href="__URL__/singlePage/id/{$inform.id}">{$inform.author}<i> </i></a>
							</div>
							<div class="clearfix"></div>
						</div>
						</volist>
					</div>
					<div class="popular">
						<div class="main-title-head">
							<h5>热门文章</h5>
							<h4> Most    read</h4>
							<div class="clearfix"></div>
						</div>		
						<div class="popular-news">
							<volist name="most" id="mo">
							<div class="popular-grid">
								<i>{$mo.dateline|substr=0,11}</i>
								<p>{$mo.title|msubstr=0,30}<br/><a href="__URL__/singlePage/id/{$mo.id}">Read More</a></p>
							</div>
							</volist>
							<a class="more" href="__URL__/search/where/cId!=1/order/clicktimes">More  +</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>	
				<div class="clearfix"></div>
			</div>
			<div class="footer text-center">
				<div class="bottom-menu">
					<ul>
						<li><a href="{:U('Index/index')}">首页</a></li>|
						<li><a href="{:U('Inform/index')}">通知</a></li>|
						<li><a href="{:U('Movie/index')}">电影周</a></li>|
						<li><a href="{:U('Rent/index')}">租赁_服务</a></li>|
						<li><a href="{:U('Star/index')}">协会之星</a></li>|
						<li><a href="{:U('Activity/index')}">协会活动</a></li>|
						<li><a href="{:U('Blog/index')}">技术杂文</a></li>|
						<li><a href="{:U('Member/index')}">招新报名</a></li>
					</ul>
				</div>
				<div class="copyright text-center">
					<p>
地址：***************&nbsp;&nbsp;&nbsp;邮编：410132&nbsp;&nbsp;&nbsp;{$icp}<br/>
电子应用技术协会 Copyright 2016 All rights reserved Electronic Technology Applied Society</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>